<!DOCTYPE html>
<html>
<head>
  <title>Main Page von Jan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css">
  <style>
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: blue;
      color: #FFF;
      padding: 1% 0;
      font-size: 1.2em;
      border: 0;
    }
    .navbar-brand{
      float: left;
      min-height: 55px;
      padding: 0 15px 5px;
    }
    .navbar-inverse .navbar-nav .active a,.navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
      color: #FFFFFF;
      background-color: blue;
    }

  </style>
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="/Pictures/YamahaMT07.jpg"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a hred="#">Link1</a></li>
          <li><a hred="#">Link2</a></li>
          <li><a hred="#">Link3</a></li>
        </ul>
      </div>
    </div>
  </nav>

  </body>
</html>
